@import "../../utils/variables";

.Navbar {
  background-color: var(--main-background-color);
  box-shadow: gray 2px 2px 8px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px 50px;
  transition: all linear 0.3s;
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      text-decoration: none;  
      color: var(--main-text-color);
    }
    .second_logo {
      display: block;
      .filter_svg{
        fill: var(--main-text-color) ;
      }
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
    .second_nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      gap: 20px;
      li {
        .nav_btn {
          text-decoration: none;
          color: var(--main-text-color);
          cursor: pointer;
          &:hover {
            color: $mainHoverColor;
          }
        }
        .active_nav{
          color: $mainHoverColor !important;
        }
      }
    }
    .Nav_links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      gap: 10px;
      li {
        margin: 10px 20px;
        .nav_btn {
          text-decoration: none;
          color: var(--main-text-color);
          &:hover {
            color: $mainHoverColor;
          }
        }
        .active_nav{
          color: $mainHoverColor !important;
        }
      }
    }
  }
  .sidebar_icon {
    display: none;
    &:hover {
      color: $mainHoverColor;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 700px) {
  .Navbar {
    padding: 15px 10px;
    background-color: var(--main-background-color);
    box-shadow: gray 2px 2px 8px;
    nav {
      .logo {
        color: var(--main-text-color);
        img {
          display: none;
        }
        .second_logo {
          display: block;
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
          }
        }
      }
      .second_nav {
        li {
          .nav_btn {
            text-decoration: none;
            color: var(--main-text-color);
            &:hover {
              color: $mainHoverColor;
            }
          }
        }
      }
      .Nav_links {
        display: none;
      }
    }
    .sidebar_icon {
      display: block;
      color: var(--main-text-color);
    }
  }
}
