@import "../../utils/variables";

.Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px 50px;
  transition: all linear 0.3s;
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      text-decoration: none;
      color: $mainWhite;
      .second_logo {
        display: none;
      }
    }
    .second_nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      gap: 20px;
      li {
        // margin: 10px 20px;
        .nav_btn {
          text-decoration: none;
          color: $mainWhite;
          &:hover {
            color: $mainHoverColor;
          }
        }
      }
    }
    .Nav_links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      gap: 10px;
      li {
        margin: 10px 20px;
        .nav_btn {
          text-decoration: none;
          color: $mainWhite;
          &:hover {
            color: $mainHoverColor;
          }
        }
      }
    }
  }
  .sidebar_icon {
    display: none;
    &:hover {
      color: $mainHoverColor;
      cursor: pointer;
    }
  }
}
.whiteNav {
  background-color: $mainWhite;
  box-shadow: gray 2px 2px 10px;
  nav {
    .logo {
      color: black;
      img {
        display: none;
      }
      .second_logo {
        display: block;
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }
      }
    }
    .second_nav {
      li {
        .nav_btn {
          text-decoration: none;
          color: black;
          &:hover {
            color: $mainHoverColor;
          }
        }
      }
    }
    .Nav_links {
      li {
        .nav_btn {
          color: black;
          &:hover {
            color: $mainHoverColor;
          }
        }
      }
    }
  }
  .sidebar_icon {
    display: none;
    color: black;
  }
}
@media only screen and (max-width: 700px) {
  .Navbar {
    padding: 5px 10px;
    background-color: $mainWhite;
    box-shadow: gray 5px 5px 20px;
    nav {
      .logo {
        color: black;
        img {
          display: none;
        }
        .second_logo {
          display: block;
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
          }
        }
      }
      .second_nav {
        li {
          .nav_btn {
            text-decoration: none;
            color: black;
            &:hover {
              color: $mainHoverColor;
            }
          }
        }
      }
      .Nav_links {
        display: none;
      }
    }
    .sidebar_icon {
      display: block;
      color: black;
    }
  }
}
