.under_constrection {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/underconstruction-g501fbc3cd_1920.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
