.why_us {
  padding: 10px;
  margin: 50px 0;

  h3 {
    width: 100%;
    font-size: 1.75em;
    font-weight: 300;
    color: var(--main-text-color);
    text-align: center;
    margin: 50px 0;
  }
  .advantages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    align-items: stretch;
    justify-content: center;
    gap: 40px;

    .advantage {
      line-height: 30px;
      box-shadow: 1px 1px 3px gray;
      transition: all linear 0.3s;
      padding: 10px;
      background-color: var(--second-item-bag);
      &:hover .advantage_icon {
        color: #1a6eff;
        background-color: #e1ecff;
        
      }
      &:hover {
        background-color: var(--item-hover-color);
        cursor: pointer;
        transition: all linear 0.3s;
        border-radius: 20px;
      }
      .advantage_icon {
        margin: 30px 0;
        width: 70px;
        height: 70px;
        background-color: #f6f6f6;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
      }
      .advantage_details {
        h4 {
          color: var(--main-text-color);
          margin: 20px 0;
          font-size: 1.4em;
          font-weight: 300;
        }
        p {
          font-size: 0.9em;
          font-weight: 400;
          color: var(--second-font-color);
          line-height: 30px;
        }
      }
    }
  }
}
