.single_product_details_container {
  padding: 10px;
}

.single_product_details_container .single_product_details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 430px;
      grid-template-columns: 1fr 430px;
  gap: 20px;
}

.single_product_details_container .single_product_details .product_images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.single_product_details_container .single_product_details .product_images .side_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.single_product_details_container .single_product_details .product_images .side_images .single_gallery_image {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.single_product_details_container .single_product_details .product_images .side_images .single_gallery_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.single_product_details_container .single_product_details .product_images .side_images .single_gallery_image:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.single_product_details_container .single_product_details .product_images .main_image {
  width: 100%;
  padding-top: 15px;
  height: 100%;
}

.single_product_details_container .single_product_details .product_images .main_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_product_details_container .single_product_details .product_details {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  margin-top: 15px;
}

.single_product_details_container .single_product_details .product_details .product_name_price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_product_details_container .single_product_details .product_details .product_name_price h2 {
  font-size: 30px;
  font-weight: 400;
}

.single_product_details_container .single_product_details .product_details .product_name_price p {
  font-size: 30px;
  font-weight: 500;
  color: #FF0000;
}

.single_product_details_container .single_product_details .product_details .colors p {
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0;
}

.single_product_details_container .single_product_details .product_details .colors ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  gap: 10px;
}

.single_product_details_container .single_product_details .product_details .colors ul li {
  width: 40px;
  height: 40px;
  border: 8px solid #E6E6E6;
  padding: 2px;
  border-radius: 5px;
}

.single_product_details_container .single_product_details .product_details .colors ul li:nth-of-type(1) {
  background-color: #FF0000;
}

.single_product_details_container .single_product_details .product_details .colors ul li:nth-of-type(2) {
  background-color: #00ffff;
}

.single_product_details_container .single_product_details .product_details .colors ul li:nth-of-type(3) {
  background-color: #8400ff;
}

.single_product_details_container .single_product_details .product_details .colors ul li:nth-of-type(4) {
  background-color: #ff0055;
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .quantity ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5em;
  gap: 30px;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 900;
  color: #292828;
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .quantity ul li {
  cursor: pointer;
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .quantity ul li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .add_to_cart_btn {
  width: 100%;
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .add_to_cart_btn button {
  width: 100%;
  border-color: transparent;
  background-color: #FBB03B;
  color: white;
  font-size: 1.2em;
  word-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 50px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .add_to_cart_btn button:hover {
  background-color: #fa9b03;
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .favorits_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
  font-size: 20px;
  margin-left: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .favorits_btn:hover {
  background-color: #fa9b03;
  color: white;
}

.single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .active {
  background-color: #fa9b03;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .single_product_details_container .single_product_details {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .single_product_details_container .single_product_details .product_images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
  .single_product_details_container .single_product_details .product_images .side_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 5px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .single_product_details_container .single_product_details .product_images .side_images .single_gallery_image {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .quantity ul {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .add_to_cart_btn {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .single_product_details_container .single_product_details .product_details .quantity_favorits_addTocart .favorits_btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=ProductDetails.style.css.map */