.single_product_details_container{
    padding: 10px;
    .single_product_details{
        display: grid;
        grid-template-columns: 1fr 430px;
        gap: 20px;
        .product_images{
            display: grid;
            grid-template-columns: 100px 1fr;
            align-items: center;
            gap: 10px;
            .side_images{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                .single_gallery_image{
                    width: 100px;
                    height: 80px;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .active_image{
                    filter: grayscale(0);
                    border: 5px solid var(--hover-color);
                }
                
            }
            .main_image{
                width: 100%;
                padding-top: 15px;
                height: 500px;
                // max-height: 500px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                }
            }
        }
        .product_details{
            padding: 10px;
            display: grid;
            gap: 20px;
            margin-top: 15px;
            .product_name_price{
                display: grid;
                align-items: center;

                h2{
                    font-size: 30px;
                    font-weight: 400;
                    color: var(--main-text-color);
                    text-transform: capitalize;
                }
                p{
                    font-size: 30px;
                    font-weight: 500;
                    color: var(--second-hover-color);
                }
            }
            .colors{
                p{
                    font-size: 1.3em;
                    font-weight: 300;
                    margin: 20px 0;
                    color: var(--main-text-color);
                }
                ul{
                    list-style-type: none;
                    display: flex;
                    margin-left: 20px;
                    gap: 10px;
                    li{
                        width: 40px;
                        height: 40px;
                        border: 8px solid var(--item-background);
                        padding: 2px;
                        border-radius: 5px;
                        &:hover{
                            border: 8px solid var(--hover-color);
                            cursor: pointer;
                        }
                    }
                    .active_color{
                        border: 8px solid var(--hover-color);
                    }
                    
                    
                }
            }
            .quantity_favorits_addTocart{
                display: grid;
                grid-template-columns: auto auto auto;
                align-items: center;
                .quantity{
                    ul{
                        display: flex;
                        align-items: center;
                        list-style-type: none;
                        width: fit-content;
                        font-size: 1.5em;
                        gap: 30px;
                        border: 1px solid var(--second-font-color);
                        border-radius: 50px;
                        padding: 10px 20px;
                        font-weight: 900;
                        color: var(--main-text-color);

                        li{
                            cursor: pointer;
                            &:hover{
                                transform: scale(1.3);
                            }
                        }
                    }
                }
                .add_to_cart_btn{
                    width: 100%;
                    button{
                        width: 100%;
                        border-color: transparent;
                        background-color: var(--hover-color);
                        color: white;
                        font-size: 1.2em;
                        word-spacing: 2px;
                        font-weight: 400;
                        text-transform: uppercase;
                        padding: 10px 20px;
                        border-radius: 50px;
                        transition: .3s;
                        cursor: pointer;
                        &:hover{
                            background-color: #0345b8;
                            color: white;
                            
                        }
                    }
                }
                .favorits_btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid var(--second-font-color);
                    font-size: 20px;
                    margin-left: 20px;
                    transition: .3s;
                    cursor: pointer;
                    color: var(--hover-color);
                    &:hover{
                        background-color: var(--hover-color);
                        color: white;
                    }
                    
                }
                .active{
                    background-color: #fa9b03;
                    color: white;
                }
            }
            .out_of_stock{
                font-size: 2em;
                color: var(--second-hover-color);
                font-weight: 500;
                text-transform: capitalize;
                text-shadow: 1px 1px 3px var(--second-font-color);

            }
        }
    }
}

@media only screen and (max-width:1000px){
    .single_product_details_container{
        .single_product_details{
            grid-template-columns: 1fr;
            .product_images{
                grid-template-columns: 1fr;
                gap: 10px;
                .side_images{
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 5px;
                    order: 2;
                    .single_gallery_image{
                        width: 100%;
                        // height: 100%;
                    }
                    
                }
            }
        }
    }
}
@media only screen and (max-width:450px){
    .single_product_details_container{
        .single_product_details{
            .product_images{
                .side_images{
                    .single_gallery_image{
                        img{
                            object-fit: contain;
                        }
                    }
                    
                    
                    }
                    .main_image{
                        width: 100%;
                        padding-top: 15px;
                        height: 100%;
                        max-height: 250px;
                    }
                }
            .product_details{
                .quantity_favorits_addTocart{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 20px;
                    .quantity{
                        ul{
                            order: 1;
                        }
                    }
                    .add_to_cart_btn{
                        width: 100%;
                        order: 3;
                    }
                    .favorits_btn{
                        order: 2;
                    }
                }
            }
        }
    }
}