.breadCrumb_container {
  width: 100%;
  margin-top: 70px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--main-text-color);
    .link_btn{
      color: var(--hover-color);
      text-decoration: none;
      padding: 0px 10px;
    }
  
}

@media only screen and (max-width:400px){
  .breadCrumb_container {
    padding: 10px 5px;
  }
}